@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'highlight.js/styles/monokai.css';
:root {
  --text-rgb: 85, 85, 85;
  --foreground-rgb: 0, 0, 0;
  --backgroud-rgb: 245, 247, 249;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--backgroud-rgb));
}
